## Import libraries

In [1]:
from pymongo import MongoClient
import pandas as pd
import numpy as np

## Set office preferences

**1.** Designers like to go to design talks and share knowledge. There must be some nearby companies that also do design --> ***companies***

**2.** Developers like to be near successful tech startups that have raised at least 1 Million dollars --> ***companies***

**3.** The CEO is vegan --> ***foursquare***

**4.** 30% of the company staff have at least 1 child --> ***foursquare***

**5.** Executives like Starbucks A LOT. Ensure there's a starbucks not too far --> ***foursquare***

**6.** Account managers need to travel a lot --> ***foursquare***

**7.** Everyone in the company is between 25 and 40, give them some place to go party --> ***foursquare***

## Connect MongoDB database with Python

In [2]:
client = MongoClient("localhost:27017")

In [3]:
db = client["Ironhack"]

In [4]:
c = db.get_collection("companies")

In [5]:
c.find_one()

{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
 'name': 'Wetpaint',
 'permalink': 'abc2',
 'crunchbase_url': 'http://www.crunchbase.com/company/wetpaint',
 'homepage_url': 'http://wetpaint-inc.com',
 'blog_url': 'http://digitalquarters.net/',
 'blog_feed_url': 'http://digitalquarters.net/feed/',
 'twitter_username': 'BachelrWetpaint',
 'category_code': 'web',
 'number_of_employees': 47,
 'founded_year': 2005,
 'founded_month': 10,
 'founded_day': 17,
 'deadpooled_year': 1,
 'tag_list': 'wiki, seattle, elowitz, media-industry, media-platform, social-distribution-system',
 'alias_list': '',
 'email_address': 'info@wetpaint.com',
 'phone_number': '206.859.6300',
 'description': 'Technology Platform Company',
 'created_at': datetime.datetime(2007, 5, 25, 6, 51, 27),
 'updated_at': 'Sun Dec 08 07:15:44 UTC 2013',
 'overview': '<p>Wetpaint is a technology platform company that uses its proprietary state-of-the-art technology and expertise in social media to build and monetize audiences for digital publishers. Wetpaint’s own online property, Wetpaint Entertainment, an entertainment news site that attracts more than 12 million unique visitors monthly and has over 2 million Facebook fans, is a proof point to the company’s success in building and engaging audiences. Media companies can license Wetpaint’s platform which includes a dynamic playbook tailored to their individual needs and comprehensive training. Founded by Internet pioneer Ben Elowitz, and with offices in New York and Seattle, Wetpaint is backed by Accel Partners, the investors behind Facebook.</p>',
 'image': {'available_sizes': [[[150, 75],
    'assets/images/resized/0000/3604/3604v14-max-150x150.jpg'],
   [[250, 125], 'assets/images/resized/0000/3604/3604v14-max-250x250.jpg'],
   [[450, 225], 'assets/images/resized/0000/3604/3604v14-max-450x450.jpg']]},
 'products': [{'name': 'Wikison Wetpaint', 'permalink': 'wetpaint-wiki'},
  {'name': 'Wetpaint Social Distribution System',
   'permalink': 'wetpaint-social-distribution-system'}],
 'relationships': [{'is_past': False,
   'title': 'Co-Founder and VP, Social and Audience Development',
   'person': {'first_name': 'Michael',
    'last_name': 'Howell',
    'permalink': 'michael-howell'}},
  {'is_past': False,
   'title': 'Co-Founder/CEO/Board of Directors',
   'person': {'first_name': 'Ben',
    'last_name': 'Elowitz',
    'permalink': 'ben-elowitz'}},
  {'is_past': False,
   'title': 'COO/Board of Directors',
   'person': {'first_name': 'Rob',
    'last_name': 'Grady',
    'permalink': 'rob-grady'}},
  {'is_past': False,
   'title': 'SVP, Strategy and Business Development',
   'person': {'first_name': 'Chris',
    'last_name': 'Kollas',
    'permalink': 'chris-kollas'}},
  {'is_past': False,
   'title': 'Board',
   'person': {'first_name': 'Theresia',
    'last_name': 'Ranzetta',
    'permalink': 'theresia-ranzetta'}},
  {'is_past': False,
   'title': 'Board Member',
   'person': {'first_name': 'Gus',
    'last_name': 'Tai',
    'permalink': 'gus-tai'}},
  {'is_past': False,
   'title': 'Board',
   'person': {'first_name': 'Len',
    'last_name': 'Jordan',
    'permalink': 'len-jordan'}},
  {'is_past': False,
   'title': 'Head of Technology and Product',
   'person': {'first_name': 'Alex',
    'last_name': 'Weinstein',
    'permalink': 'alex-weinstein'}},
  {'is_past': True,
   'title': 'CFO',
   'person': {'first_name': 'Bert',
    'last_name': 'Hogue',
    'permalink': 'bert-hogue'}},
  {'is_past': True,
   'title': 'CFO/ CRO',
   'person': {'first_name': 'Brian',
    'last_name': 'Watkins',
    'permalink': 'brian-watkins'}},
  {'is_past': True,
   'title': 'Senior Vice President, Marketing',
   'person': {'first_name': 'Rob',
    'last_name': 'Grady',
    'permalink': 'rob-grady'}},
  {'is_past': True,
   'title': 'VP, Technology and Product',
   'person': {'first_name': 'Werner',
    'last_name': 'Koepf',
    'permalink': 'werner-koepf'}},
  {'is_past': True,
   'title': 'VP Marketing',
   'person': {'first_name': 'Kevin',
    'last_name': 'Flaherty',
    'permalink': 'kevin-flaherty'}},
  {'is_past': True,
   'title': 'VP User Experience',
   'person': {'first_name': 'Alex',
    'last_name': 'Berg',
    'permalink': 'alex-berg'}},
  {'is_past': True,
   'title': 'VP Engineering',
   'person': {'first_name': 'Steve',
    'last_name': 'McQuade',
    'permalink': 'steve-mcquade'}},
  {'is_past': True,
   'title': 'Executive Editor',
   'person': {'first_name': 'Susan',
    'last_name': 'Mulcahy',
    'permalink': 'susan-mulcahy'}},
  {'is_past': True,
   'title': 'VP Business Development',
   'person': {'first_name': 'Chris',
    'last_name': 'Kollas',
    'permalink': 'chris-kollas'}}],
 'competitions': [{'competitor': {'name': 'Wikia', 'permalink': 'wikia'}},
  {'competitor': {'name': 'JotSpot', 'permalink': 'jotspot'}},
  {'competitor': {'name': 'Socialtext', 'permalink': 'socialtext'}},
  {'competitor': {'name': 'Ning by Glam Media', 'permalink': 'ning'}},
  {'competitor': {'name': 'Soceeo', 'permalink': 'soceeo'}},
  {'competitor': {'name': 'Yola', 'permalink': 'yola'}},
  {'competitor': {'name': 'SocialGO', 'permalink': 'socialgo'}},
  {'competitor': {'name': 'IslamNor', 'permalink': 'islamnor'}}],
 'providerships': [],
 'total_money_raised': '$39.8M',
 'funding_rounds': [{'id': 888,
   'round_code': 'a',
   'source_url': 'http://seattlepi.nwsource.com/business/246734_wiki02.html',
   'source_description': '',
   'raised_amount': 5250000,
   'raised_currency_code': 'USD',
   'funded_year': 2005,
   'funded_month': 10,
   'funded_day': 1,
   'investments': [{'company': None,
     'financial_org': {'name': 'Frazier Technology Ventures',
      'permalink': 'frazier-technology-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Trinity Ventures',
      'permalink': 'trinity-ventures'},
     'person': None}]},
  {'id': 889,
   'round_code': 'b',
   'source_url': 'http://pulse2.com/2007/01/09/wiki-builder-website-wetpaint-welcomes-95m-funding/',
   'source_description': '',
   'raised_amount': 9500000,
   'raised_currency_code': 'USD',
   'funded_year': 2007,
   'funded_month': 1,
   'funded_day': 1,
   'investments': [{'company': None,
     'financial_org': {'name': 'Accel Partners',
      'permalink': 'accel-partners'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Frazier Technology Ventures',
      'permalink': 'frazier-technology-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Trinity Ventures',
      'permalink': 'trinity-ventures'},
     'person': None}]},
  {'id': 2312,
   'round_code': 'c',
   'source_url': 'http://www.accel.com/news/news_one_up.php?news_id=185',
   'source_description': 'Accel',
   'raised_amount': 25000000,
   'raised_currency_code': 'USD',
   'funded_year': 2008,
   'funded_month': 5,
   'funded_day': 19,
   'investments': [{'company': None,
     'financial_org': {'name': 'DAG Ventures', 'permalink': 'dag-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Accel Partners',
      'permalink': 'accel-partners'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Trinity Ventures',
      'permalink': 'trinity-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Frazier Technology Ventures',
      'permalink': 'frazier-technology-ventures'},
     'person': None}]}],
 'investments': [],
 'acquisition': {'price_amount': 30000000,
  'price_currency_code': 'USD',
  'term_code': 'cash_and_stock',
  'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
  'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
  'acquired_year': 2013,
  'acquired_month': 12,
  'acquired_day': 16,
  'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}},
 'acquisitions': [],
 'offices': [{'description': '',
   'address1': '710 - 2nd Avenue',
   'address2': 'Suite 1100',
   'zip_code': '98104',
   'city': 'Seattle',
   'state_code': 'WA',
   'country_code': 'USA',
   'latitude': 47.603122,
   'longitude': -122.333253},
  {'description': '',
   'address1': '270 Lafayette Street',
   'address2': 'Suite 505',
   'zip_code': '10012',
   'city': 'New York',
   'state_code': 'NY',
   'country_code': 'USA',
   'latitude': 40.7237306,
   'longitude': -73.9964312}],
 'milestones': [{'id': 5869,
   'description': "Wetpaint named in Lead411's Hottest Seattle Companies list",
   'stoned_year': 2010,
   'stoned_month': 6,
   'stoned_day': 8,
   'source_url': 'http://www.lead411.com/seattle-companies.html',
   'source_text': None,
   'source_description': 'LEAD411 LAUNCHES "HOTTEST SEATTLE COMPANIES" AWARDS',
   'stoneable_type': 'Company',
   'stoned_value': None,
   'stoned_value_type': None,
   'stoned_acquirer': None,
   'stoneable': {'name': 'Wetpaint', 'permalink': 'wetpaint'}},
  {'id': 8702,
   'description': 'Site-Builder Wetpaint Makes One For Itself, Using the Demand Media Playbook',
   'stoned_year': 2010,
   'stoned_month': 9,
   'stoned_day': 6,
   'source_url': 'http://mediamemo.allthingsd.com/20100906/site-builder-wetpaint-makes-one-for-itself-using-the-demand-media-playbook/',
   'source_text': None,
   'source_description': 'All Things D',
   'stoneable_type': 'Company',
   'stoned_value': None,
   'stoned_value_type': None,
   'stoned_acquirer': None,
   'stoneable': {'name': 'Wetpaint', 'permalink': 'wetpaint'}}],
 'video_embeds': [],
 'screenshots': [{'available_sizes': [[[150, 86],
     'assets/images/resized/0016/0929/160929v2-max-150x150.png'],
    [[250, 143], 'assets/images/resized/0016/0929/160929v2-max-250x250.png'],
    [[450, 258], 'assets/images/resized/0016/0929/160929v2-max-450x450.png']],
   'attribution': None}],
 'external_links': [{'external_url': 'http://www.geekwire.com/2011/rewind-ben-elowitz-wetpaint-ceo-building-type-media-company',
   'title': 'GeekWire interview: Rewind - Ben Elowitz, Wetpaint CEO, on building a new type of media company'},
  {'external_url': 'http://techcrunch.com/2012/06/17/search-and-social-how-two-will-soon-become-one/',
   'title': 'Guest post by CEO Ben Elowitz in TechCrunch'},
  {'external_url': 'http://allthingsd.com/20120516/what-to-expect-when-facebook-is-expecting-five-predictions-for-facebooks-first-public-year/',
   'title': 'Guest post by CEO Ben Elowitz in AllThingsD'},
  {'external_url': 'http://adage.com/article/digitalnext/facebook-biggest-player-advertising-s-540-billion-world/235708/',
   'title': 'Guest post by CEO Ben Elowitz in AdAge'},
  {'external_url': 'http://www.businessinsider.com/facebook-captures-14-percent-of-our-online-attention-but-only-4-percent-of-ad-spending-online-2012-6',
   'title': 'Guest post by CEO Ben Elowitz in Business Insider'},
  {'external_url': 'http://allfacebook.com/wetpaint-media-data_b75963',
   'title': 'AllFacebook coverage of Wetpaint'},
  {'external_url': 'http://adage.com/article/digital/celeb-site-wetpaint-shows-media-profit-facebook/237828/',
   'title': 'Profile of Wetpaint in Ad Age'},
  {'external_url': 'http://allthingsd.com/20121018/how-to-boost-your-facebook-traffic-tips-and-tricks-from-wetpaint/',
   'title': 'Interview with Wetpaint CEO Ben Elowitz in All Things D'},
  {'external_url': 'http://www.xconomy.com/seattle/2012/10/19/wetpaint-starts-licensing-its-facebook-based-media-distribution-tech/',
   'title': 'Profile of Wetpaint in Xconomy'}],
 'partners': []}

## Query: Companies that matches preferences - MONGO DB

- **Condition 1.** Designers like to go to design talks and share knowledge. There must be some nearby companies that also do design

- **Condition 2.** Developers like to be near successful tech startups that have raised at least 1 Million dollars

In [6]:
condition_1 = {"total_money_raised": {"$regex": "M$"}}
condition_2 = {"tag_list": {"$regex": "design"}}
query = {"$and": [condition_1, condition_2]}
projection = {"name":1, "offices":1, "total_money_raised": 1, "_id":0}
result = list(c.find(query, projection))
result

[{'name': 'Digg',
  'total_money_raised': '$45M',
  'offices': [{'description': None,
    'address1': '135 Mississippi St',
    'address2': '',
    'zip_code': '94107',
    'city': 'San Francisco',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.764726,
    'longitude': -122.394523}]},
 {'name': 'GENWI',
  'total_money_raised': '$7.1M',
  'offices': [{'description': '',
    'address1': '4966 El Camino Real',
    'address2': 'Suite 200',
    'zip_code': '94022',
    'city': 'Los Altos',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 33.8171,
    'longitude': -111.9035}]},
 {'name': 'Aviary',
  'total_money_raised': '$19M',
  'offices': [{'description': 'NYC',
    'address1': '243 West 30th Street',
    'address2': '11th Floor',
    'zip_code': '10001',
    'city': 'NY',
    'state_code': 'NY',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None}]},
 {'name': 'Wix',
  'total_money_raised': '$58.5M',
  'offices': [{'description': '',
    'address1': '',
    'address2': '',
    'zip_code': '',
    'city': 'Tel Aviv',
    'state_code': None,
    'country_code': 'ISR',
    'latitude': None,
    'longitude': None},
   {'description': '',
    'address1': '',
    'address2': '',
    'zip_code': '94105',
    'city': 'San Francisco',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None}]},
 {'name': 'Gilt Groupe',
  'total_money_raised': '$236M',
  'offices': [{'description': 'New York Office',
    'address1': '2 Park Ave Fl 4',
    'address2': '',
    'zip_code': '10016-5602',
    'city': 'New York',
    'state_code': 'NY',
    'country_code': 'USA',
    'latitude': 40.74727,
    'longitude': -73.9800645}]},
 {'name': 'Sitemasher',
  'total_money_raised': 'C$5M',
  'offices': [{'description': '',
    'address1': 'Suite 200',
    'address2': '326 West 5th Avenue',
    'zip_code': 'V5Y1J5',
    'city': 'Vancouver',
    'state_code': None,
    'country_code': 'CAN',
    'latitude': None,
    'longitude': None},
   {'description': '',
    'address1': '',
    'address2': '',
    'zip_code': '',
    'city': 'Coral Gables',
    'state_code': 'FL',
    'country_code': 'USA',
    'latitude': 25.705057,
    'longitude': -80.271378}]},
 {'name': '99designs',
  'total_money_raised': '$35M',
  'offices': [{'description': 'United States (HQ)',
    'address1': '447 Battery St.',
    'address2': '3rd Floor',
    'zip_code': '94111',
    'city': 'San Francisco',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.7955307,
    'longitude': -122.4005983},
   {'description': 'Australia',
    'address1': '204 Wellington St.',
    'address2': '',
    'zip_code': '3065',
    'city': 'Collingwood',
    'state_code': None,
    'country_code': 'AUS',
    'latitude': -37.8026587,
    'longitude': 144.9868546},
   {'description': 'Europe',
    'address1': 'Schlesische Str. 29-30',
    'address2': '',
    'zip_code': '',
    'city': 'Berlin',
    'state_code': None,
    'country_code': 'DEU',
    'latitude': 52.4986199,
    'longitude': 13.4469031}]},
 {'name': 'EasyLink',
  'total_money_raised': '$5.4M',
  'offices': [{'description': None,
    'address1': 'C-Block, 1st floor, Bharathiar Complex',
    'address2': '100 feet road, Vadapalani',
    'zip_code': '600028',
    'city': 'Chennai',
    'state_code': None,
    'country_code': 'IND',
    'latitude': None,
    'longitude': None}]},
 {'name': 'Shopflick',
  'total_money_raised': '$8M',
  'offices': [{'description': '',
    'address1': '10500 W. Pico Blvd',
    'address2': '',
    'zip_code': '90064',
    'city': 'Los Angeles',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 34.044939,
    'longitude': -118.419067}]},
 {'name': 'deviantART',
  'total_money_raised': '$13.5M',
  'offices': [{'description': None,
    'address1': '7095 Hollywood Blvd #788',
    'address2': '',
    'zip_code': '90028',
    'city': 'Hollywood',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 34.101578,
    'longitude': -118.33334}]},
 {'name': 'Minted',
  'total_money_raised': '$52.7M',
  'offices': [{'description': '',
    'address1': '747 Front Street',
    'address2': '2nd Floor',
    'zip_code': '94111',
    'city': 'San Francisco',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.797435,
    'longitude': -122.403175}]},
 {'name': 'Access Point',
  'total_money_raised': '$4.5M',
  'offices': [{'description': 'Iasi Office',
    'address1': 'Socola 134a',
    'address2': '',
    'zip_code': '700187',
    'city': 'Iasi',
    'state_code': None,
    'country_code': 'ROM',
    'latitude': None,
    'longitude': None}]},
 {'name': 'Pumant',
  'total_money_raised': '$1.2M',
  'offices': [{'description': 'International Office',
    'address1': 'Birmingham, UK',
    'address2': '',
    'zip_code': '',
    'city': 'Birmingham',
    'state_code': None,
    'country_code': 'GBR',
    'latitude': 52.482932,
    'longitude': -1.893621},
   {'description': 'Software Factory',
    'address1': 'Buenos Aires, Argentina',
    'address2': '',
    'zip_code': '',
    'city': 'Buenos Aires',
    'state_code': None,
    'country_code': 'ARG',
    'latitude': -34.611781,
    'longitude': -58.417309}]},
 {'name': 'Squarespace',
  'total_money_raised': '$38.5M',
  'offices': [{'description': 'Squarespace',
    'address1': '459 Broadway',
    'address2': '5th Floor',
    'zip_code': '10013',
    'city': 'New York',
    'state_code': 'NY',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None}]},
 {'name': 'Azuro',
  'total_money_raised': '$10M',
  'offices': [{'description': 'HQ',
    'address1': '5201 Great America Parkway',
    'address2': 'Suite 432',
    'zip_code': '95054',
    'city': 'Santa Clara',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.406217,
    'longitude': -121.976473}]},
 {'name': 'NextG Networks',
  'total_money_raised': '$410M',
  'offices': [{'description': 'Corporate headquarters',
    'address1': '890 Tasman Drive',
    'address2': '',
    'zip_code': '95035',
    'city': 'Milpitas',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.3968078,
    'longitude': -121.9113633}]},
 {'name': 'Extreme Enterprises',
  'total_money_raised': '$1.46M',
  'offices': [{'description': 'EEI Headquarters',
    'address1': '7019 1st Ave South',
    'address2': 'Suite #2',
    'zip_code': '33707',
    'city': 'St Petersburg',
    'state_code': 'FL',
    'country_code': 'USA',
    'latitude': 27.770221,
    'longitude': -82.735899}]},
 {'name': 'Carrier IQ',
  'total_money_raised': '$42M',
  'offices': [{'description': '',
    'address1': '1200 Villa Street',
    'address2': '',
    'zip_code': '94041',
    'city': 'Mountain View',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.3955775,
    'longitude': -122.0833286}]},
 {'name': 'Banyan Branch',
  'total_money_raised': '$1.7M',
  'offices': [{'description': 'Seattle office',
    'address1': '2030 1st Ave, 3rd Floor',
    'address2': '',
    'zip_code': '98121',
    'city': 'Seattle',
    'state_code': 'WA',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None},
   {'description': 'New York office',
    'address1': '455 Broadway, 3rd Floor',
    'address2': '',
    'zip_code': '10013',
    'city': 'New York',
    'state_code': 'NY',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None},
   {'description': 'Los Angeles office',
    'address1': '1671 Appian Way',
    'address2': '',
    'zip_code': '90401',
    'city': 'Santa Monica',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None}]},
 {'name': 'Netbiscuits',
  'total_money_raised': '$27M',
  'offices': [{'description': 'Headquarters',
    'address1': 'Europaallee 10',
    'address2': '',
    'zip_code': '67657',
    'city': 'Kaiserslautern',
    'state_code': None,
    'country_code': 'DEU',
    'latitude': 49.4559965,
    'longitude': 7.8068522},
   {'description': 'Netbiscuits UK',
    'address1': '25 North Row',
    'address2': '',
    'zip_code': 'W1K 6DG',
    'city': 'London',
    'state_code': None,
    'country_code': 'GBR',
    'latitude': 51.513248,
    'longitude': -0.1547377},
   {'description': 'New York Office',
    'address1': '7th Floor',
    'address2': '275 Seventh Ave',
    'zip_code': '10001',
    'city': 'New York',
    'state_code': 'NY',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None},
   {'description': 'San Francisco',
    'address1': 'Suite 2200',
    'address2': '425 Market Street',
    'zip_code': '94105',
    'city': 'San Francisco',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.7550372,
    'longitude': -122.4264417}]},
 {'name': 'ExteNet Systems',
  'total_money_raised': '$156M',
  'offices': [{'description': 'Corporate Office',
    'address1': '3030 Warrenville Road',
    'address2': 'Suite 340',
    'zip_code': '60532',
    'city': 'Lisle',
    'state_code': 'IL',
    'country_code': 'USA',
    'latitude': 41.8089007,
    'longitude': -88.1132884}]},
 {'name': 'Gnodal',
  'total_money_raised': '$2.19M',
  'offices': [{'description': 'Registered Office',
    'address1': '178-180 Hotwell Road',
    'address2': '',
    'zip_code': 'BS8 4RP',
    'city': 'Bristol',
    'state_code': None,
    'country_code': 'GBR',
    'latitude': None,
    'longitude': None},
   {'description': 'US Sales & Marketing',
    'address1': '2225 East Bayshore Rd',
    'address2': 'Suite 200',
    'zip_code': '94303',
    'city': 'Palo Alto',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None}]},
 {'name': 'Talenthouse',
  'total_money_raised': '$15.1M',
  'offices': [{'description': 'Headquarters',
    'address1': '542 High St',
    'address2': '',
    'zip_code': '94301',
    'city': 'Palo Alto',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None},
   {'description': 'Talenthouse - LA',
    'address1': '8810 Melrose Ave',
    'address2': '',
    'zip_code': '90065',
    'city': 'West Hollywood',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None}]},
 {'name': 'DoNanza',
  'total_money_raised': '$1M',
  'offices': [{'description': 'Israel Office',
    'address1': 'Gruzenberg Str.',
    'address2': '',
    'zip_code': '67448',
    'city': 'Tel Aviv',
    'state_code': None,
    'country_code': 'ISR',
    'latitude': None,
    'longitude': None}]},
 {'name': 'Personal',
  'total_money_raised': '$21.1M',
  'offices': [{'description': '',
    'address1': '1010 Wisconsin Ave. NW',
    'address2': 'First Floor',
    'zip_code': '20007',
    'city': 'Washington',
    'state_code': 'DC',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None}]},
 {'name': 'Coskata',
  'total_money_raised': '$86.2M',
  'offices': [{'description': 'Headquarters',
    'address1': '4575 Weaver Parkway, Suite 100',
    'address2': '',
    'zip_code': '60555',
    'city': 'Warrenville',
    'state_code': 'IL',
    'country_code': 'USA',
    'latitude': 41.8035954,
    'longitude': -88.159371}]},
 {'name': 'Treehouse',
  'total_money_raised': '$19.4M',
  'offices': [{'description': '',
    'address1': '',
    'address2': '',
    'zip_code': '',
    'city': 'Orlando',
    'state_code': 'FL',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None},
   {'description': '',
    'address1': '',
    'address2': '',
    'zip_code': '',
    'city': 'Portland',
    'state_code': 'OR',
    'country_code': 'USA',
    'latitude': None,
    'longitude': None}]}]

In [7]:
df = pd.DataFrame(result)
df.head()

,name,total_money_raised,offices
0,Digg,$45M,"[{'description': None, 'address1': '135 Missis..."
1,GENWI,$7.1M,"[{'description': '', 'address1': '4966 El Cami..."
2,Aviary,$19M,"[{'description': 'NYC', 'address1': '243 West ..."
3,Wix,$58.5M,"[{'description': '', 'address1': '', 'address2..."
4,Gilt Groupe,$236M,"[{'description': 'New York Office', 'address1'..."

In [8]:
df = df.explode('offices')
df = df.reset_index(drop=True)

In [9]:
df['offices_country_code'] = df['offices'].apply(lambda x: x['country_code'])

In [10]:
value_counts_offices_country = df['offices_country_code'].value_counts().to_dict()
value_counts_offices_country_tup = list(value_counts_offices_country.items())

[('USA', 28),
 ('GBR', 3),
 ('ISR', 2),
 ('DEU', 2),
 ('CAN', 1),
 ('AUS', 1),
 ('IND', 1),
 ('ROM', 1),
 ('ARG', 1)]

In [11]:
df = df[df['offices_country_code'].apply(lambda x: value_counts_offices_country_tup[0][0] in x)]
df = df.reset_index(drop=True)

In [12]:
df['offices_state_code'] = df['offices'].apply(lambda x : x['state_code'])

In [13]:
value_counts_offices_state_code = df['offices_state_code'].value_counts()
value_counts_offices_state_code

offices_state_code
CA    15
NY     5
FL     3
IL     2
WA     1
DC     1
OR     1
Name: count, dtype: int64

In [14]:
df = df[df['offices_state_code'].apply(lambda x: any(val in x for val in ['CA','NY', 'FL', 'IL']))]
df = df.reset_index(drop=True)

In [15]:
df['offices'][0]

{'description': None,
 'address1': '135 Mississippi St',
 'address2': '',
 'zip_code': '94107',
 'city': 'San Francisco',
 'state_code': 'CA',
 'country_code': 'USA',
 'latitude': 37.764726,
 'longitude': -122.394523}

In [16]:
df['offices_latitude'] = df['offices'].apply(lambda x : x['latitude'])
df['offices_longitude'] = df['offices'].apply(lambda x : x['longitude'])
df['offices_address_1'] = df['offices'].apply(lambda x : x['address1'])
df['offices_address_2'] = df['offices'].apply(lambda x : x['address2'])
df['offices_zip_code'] = df['offices'].apply(lambda x : x['zip_code'])

In [17]:
df = df.drop('offices', axis=1)

In [18]:
df = df.replace('', np.nan)

In [19]:
df.dropna(subset=['offices_latitude', 'offices_longitude', 'offices_address_1', 'offices_address_2'], how='all', inplace=True)
df = df.reset_index(drop=True)

In [20]:
df_subset = df.loc[df['offices_latitude'].isnull(), ['name', 'offices_address_1', 'offices_address_2']]
df_subset

             name        offices_address_1 offices_address_2
2          Aviary     243 West 30th Street        11th Floor
9     Squarespace             459 Broadway         5th Floor
14  Banyan Branch  455 Broadway, 3rd Floor               NaN
15  Banyan Branch          1671 Appian Way               NaN
16    Netbiscuits                7th Floor   275 Seventh Ave
19         Gnodal    2225 East Bayshore Rd         Suite 200
20    Talenthouse              542 High St               NaN
21    Talenthouse         8810 Melrose Ave               NaN

In [21]:
NaN_name_list = df.loc[df['offices_latitude'].isnull(), 'name'].tolist()
NaN_name_list

['Aviary',
 'Squarespace',
 'Banyan Branch',
 'Banyan Branch',
 'Netbiscuits',
 'Gnodal',
 'Talenthouse',
 'Talenthouse']

In [22]:
NaN_lat_list = [40.7493756, 40.7208632, 40.720812, None, 40.7467544, 37.4499108, 37.4433618, 34.080633]
NaN_lon_list = [-73.9964352, -74.0035362, -74.0037199, None, -73.9953227, -122.1211875, -122.1630406, -118.3885556]
Nan_index_list = [2, 9, 14, 15, 16, 19, 20, 21]

In [23]:
my_dict = {key: value for key, value in zip(['name', 'latitude', 'longitude'], [NaN_name_list, NaN_lat_list, NaN_lon_list])}

In [24]:
my_dict['index'] = Nan_index_list

In [25]:
dict_df = pd.DataFrame(my_dict)
dict_df.set_index('index', inplace=True)

In [26]:
joined_df = df_subset.join(dict_df[['latitude', 'longitude']], on=df_subset.index)

In [27]:
df = df.join(joined_df[['latitude', 'longitude']], on=df.index)

In [28]:
df.loc[df['offices_latitude'].isna(), 'offices_latitude'] = df.loc[df['offices_latitude'].isna(), 'latitude']
df.loc[df['offices_longitude'].isna(), 'offices_longitude'] = df.loc[df['offices_longitude'].isna(), 'longitude']

In [29]:
df.drop(columns=['latitude', 'longitude'], inplace=True)

In [30]:
df.dropna(subset=['offices_latitude', 'offices_longitude'], how='all', inplace=True)
df = df.reset_index(drop=True)
df

,name,total_money_raised,offices_country_code,offices_state_code,offices_latitude,offices_longitude,offices_address_1,offices_address_2,offices_zip_code
0,Digg,$45M,USA,CA,37.764726,-122.394523,135 Mississippi St,NaN,94107
1,GENWI,$7.1M,USA,CA,33.817100,-111.903500,4966 El Camino Real,Suite 200,94022
2,Aviary,$19M,USA,NY,40.749376,-73.996435,243 West 30th Street,11th Floor,10001
3,Gilt Groupe,$236M,USA,NY,40.747270,-73.980064,2 Park Ave Fl 4,NaN,10016-5602
4,Sitemasher,C$5M,USA,FL,25.705057,-80.271378,NaN,NaN,NaN
5,99designs,$35M,USA,CA,37.795531,-122.400598,447 Battery St.,3rd Floor,94111
6,Shopflick,$8M,USA,CA,34.044939,-118.419067,10500 W. Pico Blvd,NaN,90064
7,deviantART,$13.5M,USA,CA,34.101578,-118.333340,7095 Hollywood Blvd #788,NaN,90028
8,Minted,$52.7M,USA,CA,37.797435,-122.403175,747 Front Street,2nd Floor,94111
9,Squarespace,$38.5M,USA,NY,40.720863,-74.003536,459 Broadway,5th Floor,10013
10,Azuro,$10M,USA,CA,37.406217,-121.976473,5201 Great America Parkway,Suite 432,95054
11,NextG Networks,$410M,USA,CA,37.396808,-121.911363,890 Tasman Drive,NaN,95035
12,Extreme Enterprises,$1.46M,USA,FL,27.770221,-82.735899,7019 1st Ave South,Suite #2,33707
13,Carrier IQ,$42M,USA,CA,37.395578,-122.083329,1200 Villa Street,NaN,94041
14,Banyan Branch,$1.7M,USA,NY,40.720812,-74.003720,"455 Broadway, 3rd Floor",NaN,10013
15,Netbiscuits,$27M,USA,NY,40.746754,-73.995323,7th Floor,275 Seventh Ave,10001
16,Netbiscuits,$27M,USA,CA,37.755037,-122.426442,Suite 2200,425 Market Street,94105
17,ExteNet Systems,$156M,USA,IL,41.808901,-88.113288,3030 Warrenville Road,Suite 340,60532
18,Gnodal,$2.19M,USA,CA,37.449911,-122.121188,2225 East Bayshore Rd,Suite 200,94303
19,Talenthouse,$15.1M,USA,CA,37.443362,-122.163041,542 High St,NaN,94301
20,Talenthouse,$15.1M,USA,CA,34.080633,-118.388556,8810 Melrose Ave,NaN,90065
21,Coskata,$86.2M,USA,IL,41.803595,-88.159371,"4575 Weaver Parkway, Suite 100",NaN,60555

In [31]:
df.to_csv('data/df_mongo.csv', index=False)